body {
  background: radial-gradient(ellipse at top, red, transparent),
    radial-gradient(ellipse at bottom, blue, transparent);
  width: 100vw;
  height: 100vh;
  display: column;
  justify-content: center;
}

div.container {
  width: 60%;
  height: max-content;
  background-color: beige;
  border-radius: 0px;
  padding: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 25px white;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "first first small1"
    "first first small2"
    "small3 small4 small4";
}

.main-item {
  display: grid;
  grid-area: first;
  background-color: lightblue;
}

.small-item-1 {
  display: grid;
  grid-area: small1;
  background-color: lightblue;
}

.small-item-2 {
  display: grid;
  grid-area: small2;
  background-color: lightblue;
}
.small-item-3 {
  display: grid;
  grid-area: small3;
  background-color: lightblue;
}
.small-item-4 {
  display: grid;
  grid-area: small4;
  background-color: lightblue;
}


article {
  border-radius: 25px;
  padding: 25px;
  background-color: white;
}

h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
}

ul {
  height: max-content;
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  padding: 5px;
  margin-left: 20px;
}

table {
  background-color: white;
  color: white;
  font-size: 24px;
  padding: 25px;
  border-radius: 25px;
  width: 100%;
}

td {
  background-color: lightblue;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
}

td:hover {
  background-color: white;
  color: lightblue;
}
